<nav class="navbar">
  <h1 class="title">MINI MESSAGE BOARD</h1>
  <div class="nav-items">
    <div class="subtitle">Using ExpressJS and EJS</div>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/messages">MESSAGES</a></li>
      <li><a href="/new">NEW MESSAGE</a></li>
    </ul>
  </div>
</nav>
